<div class="container">
    <div class="row justify-content-center align-items-center text-center p-4">
        <div class="col-10">
            <p class="fs-3 fw-semibold">Visualizador de tendencias sobre el clustering de series temporales</p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center align-content-center text-center caja p-3 gx-3 gy-3">
        <div class="col-10">
            <p class="fs-3 fw-semibold">Filtros</p>
        </div>
        <div class="col-3">
            <p>Selecciona el KPI a visualizar</p>
        </div>
        <div class="col-3">
            <select name="data" id="data" class="form-select" title="ada">
                <option value="1">Usuario 1</option>
                <option value="2">Usuario 2</option>
                <option value="3">Usuario 3</option>
            </select>
        </div>

        <div class="col-4">
            <button class="btn btn-dark" type="button">Aplicar filtros</button>
        </div>

        <div class="col-10">
            <app-multi-chart-card [id]="'83383'" [background]="'#2b2b2b'" [data]="data" [tipo]="'line'"></app-multi-chart-card>
        </div>
    </div>
</div>